// Include functions, mixins, and variables here
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Customize Bootstrap variables
$enable-gradients: true;
$enable-shadows: true;
$form-label-font-size: 1.1rem;
$form-label-color: var(--bs-gradiente);

// Create your own map of colors
$custom-colors: (
  "fondo": #e0e0e0,
  "primario": #283739,
  "primario-transparente": rgba(#33494d, 0.5),
  "primario-transparente2": rgba(#33494d, 0.1),
  "secundario": #2c5d63,
  "terciario": #a2c11c,
  "azul": #2544c17e,
  "terciario-transparente": rgba(#a2c11c, 0.1),
  "negro": #232323,
  "gradiente": #c1fa6c,
  "gradiente2": #fffb7d,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Include Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Customaize Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bs-body-font-family: "Montserrat", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: var(--bs-primario);
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}

#heading {
  text-align: center;
  margin: 1.5em;
  color: var(--bs-fondo);
  font-size: 1.6em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: linear-gradient(
    to right,
    var(--bs-primario),
    var(--bs-fondo)
  );
  box-shadow: inset 2px 5px 10px var(--bs-primario);
  margin-bottom: 1.5rem;
}

.field2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  width: 90%;
  padding: 0.4em;
  border: none;
  outline: none;
  color: white;
  background-color: linear-gradient(
    to right,
    var(--bs-primario),
    var(--bs-fondo)
  );
  box-shadow: inset 2px 5px 10px var(--bs-primario);
  margin-bottom: 1.5rem;
}

.field3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  width: 90%;
  padding: 0.2em 0.4em;
  border: none;
  outline: none;
  color: white;
  background-color: linear-gradient(
    to right,
    var(--bs-primario),
    var(--bs-fondo)
  );
  box-shadow: inset 2px 5px 10px var(--bs-primario);
  margin-bottom: 1.5rem;
}

.input-icon {
  height: 1.6em;
  width: 1.6em;
  fill: var(--bs-gradiente);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: var(--bs-fondo);
  font-size: 1.1rem;
  font-weight: 600;
}

.input-field2 {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: var(--bs-gradiente2);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  resize: none;
}

.input-field2::placeholder {
  color: var(--bs-gradiente);
  font-size: 1.1rem;
  font-weight: 400;
}

.form .cta {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 15px;
  color: var(--bs-primario);
  font-weight: 500;
}

.span {
  font-size: 15px;
  margin-left: 5px;
  color: var(--bs-fondo);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.span:hover {
  color: var(--bs-primario);
  text-decoration: underline;
}

.button-submit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px 0 10px 0;
  background: var(--bs-negro);
  border: none;
  color: var(--bs-fondo);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button-submit:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(197, 245, 174, 0.529),
    var(--bs-terciario-transparente)
  );
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  color: var(--bs-negro);
}

.button-submit:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  color: var(--bs-negro);
}

.button-submit:hover {
  color: #11171c;
  animation: scaleUp 0.3s ease-in-out;
  background: var(--bs-terciario);
}

.button-submit2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 10px 0 10px;
  padding: 0 10px;
  background: var(--bs-negro);
  border: none;
  color: var(--bs-fondo);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  height: 42px;
  width: 10rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button-submit2:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(197, 245, 174, 0.529),
    var(--bs-terciario-transparente)
  );
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  color: var(--bs-negro);
}

.button-submit2:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  color: var(--bs-negro);
}

.button-submit2:hover {
  color: #11171c;
  animation: scaleUp 0.3s ease-in-out;
  background: var(--bs-terciario);
}

.button-submit3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 10px 0 10px;
  padding: 0 10px;
  background: var(--bs-negro);
  border: none;
  color: var(--bs-fondo);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  height: 42px;
  width: 10rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button-submit3:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(157, 196, 243, 0.365),
    var(--bs-azul)
  );
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  color: var(--bs-fondo);
}

.button-submit3:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  color: var(--bs-fondo);
}

.button-submit3:hover {
  color: var(--bs-fondo);
  animation: scaleUp 0.3s ease-in-out;
  background: var(--bs-azul);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="radio"] + label:before {
  content: "";
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 0.6em 0 0;
  border: 2px solid var(--bs-terciario);
  background: var(--bs-primario);
  border-radius: 100%;
}

input[type="radio"] + label:after {
  content: "";
  width: 12px;
  height: 12px;
  float: left;
  margin: 0 0.6em 0 0;
  border: 2px solid var(--bs-terciario);
  border-radius: 100%;
  display: none;
}

input[type="radio"]:checked + label:before {
  content: "\2713";
  font-size: 1em;
  color: var(--bs-terciario);
  text-align: center;
  line-height: 20px;
}

input[type="radio"] + label:hover {
  color: var(--bs-fondo);
  text-decoration: underline;
}

#google_login,
#facebook_login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px 0 10px 0;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background: var(--bs-negro);
  color: var(--bs-fondo);
  border: var(--bs-negro);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#google_login:after,
#facebook_login:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(197, 245, 174, 0.529),
    var(--bs-terciario-transparente)
  );
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  color: var(--bs-negro);
}

#google_login:hover::after,
#facebook_login:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  color: var(--bs-negro);
}

#google_login:hover,
#facebook_login:hover {
  background: var(--bs-terciario);
  color: var(--bs-negro);
}

.glassmorph {
  /* From https://css.glass */
  background: rgba(40, 55, 57, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(10px);
}

.glassmorph2 {
  /* From https://css.glass */
  background: rgba(40, 55, 57, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);
}

.fondo_gradiente {
  background-color: var(--bs-gradiente);
}

.radial_gradiente {
  background-color: #d3f9e4;
  background-image: linear-gradient(45deg, #d3f9e4 0%, #8fc356 100%);
}

hr.solid {
  border-top: 2px solid var(--bs-gradiente);
}

.sel {
  background-color: linear-gradient(
    to right,
    var(--bs-primario),
    var(--bs-fondo)
  );
  color: var(--bs-gradiente2);
  border: none;
}

.sel:hover {
  cursor: pointer;
}

.archivo {
  border: none;
  background: none;
  color: var(--bs-gradiente2);
}
